streamlit
pandas
sqlalchemy
psycopg2-binary
openai
python-dotenv
passlib[bcrypt]
spacy==3.7.4
thinc==8.2.2
numpy>=1.19.0,<2.0.0
pdfplumber
pypdfium2
fpdf
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.7.0/pt_core_news_sm-3.7.0-py3-none-any.whl
